@import "tailwindcss";

body {
  font-family: var(--font-bricolage);
}

:root {
  --background: #fffef0;
  --foreground: #363636;

  --primary-100: #fffef0;
  --primary-200: #fffeec;
  --primary-300: #fffdec;
  --primary-350: #fffdeb;
  --primary-400: #fffde7;
  --primary-500: #fffdd5;
  --primary-600: #fffcd6;
  --primary-700: #ffe76e;
  --primary-800: #f5cf5d;
  --primary: #e9b44c;

  --black: #0f0f0f;

  --hero-background: #e6ecf1;

  --border-color: #cfcfcf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-350: var(--primary-350);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);

  --color-black: var(--black);

  --color-hero: var(--hero-background);

  --color-stroke: var(--border-color);
}

/* @layer base {
  tbody td {
    @apply border-b border-black/20 py-4;
  }
  tbody tr:last-child td {
    @apply border-b-0;
  }
} */

@utility table-heading {
  @apply font-medium  py-4 text-left border-b border-black/20;
}

@utility checkbox {
  @apply w-12;
}

